* {
    color: white;
}

body {
    background-color: #1A1A12;
}

section {
  padding-top: 90px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
} 

section h2 {
    padding-bottom: 40px;
}


/* -----------------------------------Nav Bar------------------------------------------------------ */

/* 56px */
.customNav {
    position: fixed;
    width: 100%;
    height: 76px;
    top: 0;
    background-color:  #c57ff3 !important;
    z-index: 1;
    /* font-size: ; */
}

.customNav > div {
    background-color:  #c57ff3 !important;

}

.navbar-collapse  {
    background-color:  #c57ff3 !important;
}

.nav-item {
    border-bottom: 1px solid #1A1A12;
}


/* -----------------------------------Hero / Jumbotron------------------------------------------------------ */

.jumbo {
    background-color: #1A1A12 !important; 
    background-image: url("../images/colourful-banner3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    border-radius: 0 !important;
    display: flex;
    align-items: center;
}

.jumbo > div > div {
    background-color: rgba(28, 28, 18, 0.8) !important; 
    border-radius: 5px;
    /* width: 900px; */
}

.jumbo a {
    text-decoration: none;
}


/* -----------------------------------Skills------------------------------------------------------ */

#skills > div > div {
   font-size: 1.5rem;
}

.skills-box {
    border: 4px solid #c57ff3;
    border-radius: 5px;
}


/* -----------------------------------Work------------------------------------------------------ */

.card {
    border-color: #1A1A12;
    /* min-height: 430px; */
    min-height: 36rem;
}

.card p {
    color: black;
}

.cardContainer4 {
    margin-right: 12px;
}

.cardContainer5 {
    margin-left: 12px;
}